.advantages {
  background-color: $white; /* Цвет фона */
  background-image: linear-gradient(175deg, transparent 25%, $gray 0);

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(175deg, transparent 37%, $gray 0);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(175deg, transparent 29%, $gray 0);
  }
}

.advantages::after {
  content: "";
  display: block;
  height: 275px;
  background: url(../img/iphone-screen-mobile@1x.png)50% 0 no-repeat;
  background-size: 157px auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 290px;
    right: 60%;

    background: url(../img/iphone-screen-3-tablet@2x.png) no-repeat;
    background-size: 268px auto;
    width: 268px;
    height: 481px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: $gray-font;
  padding: 46px 0 30px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 59px 0 0;
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

.advantages__title--last {
  padding: 0;
  @media (min-width: $tablet-width) {
    padding: 0 100px 126px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 300px;
    margin-bottom: 75px;
  }
}

.advantages__list {
  @include list-reset;
  padding: 98px 30px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 220px);
    align-self: center;
  }
}

.advantages__list--inner {
  @media (min-width: $tablet-width) {
    width: 50%;
    align-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

.advantages__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  margin: 0;
  padding-bottom: 10px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 30px;
  }
}

.advantages__description {
  font-size: 14px;
  font-weight: 400;
  color: $gray-font;
  margin: 0;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
    width: 310px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0;
    width: auto;
  }
}

.advantages__item {

  @media (min-width: $tablet-width) {
    align-self: flex-end;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: calc(34% - 90px);
    margin-right: 90px;
    text-align: center;
    padding: 0;
    align-self: flex-start;
  }

}

.advantages__item--inner .advantages__name {
  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
}

.advantages__item--inner .advantages__description {
  @media (min-width: $desktop-width) {
    width: 525px;
  }
}

.advantages__item--inner {
  @media (min-width: $tablet-width) {
    padding-top: 102px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.advantages__item--time {
  display: none;


  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    width: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 170px;
    margin-bottom: 118px;
    margin-right: 0;
    text-align: left;
    background-color: $gray;
  }
}

.advantages__link {

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 24px;
    display: block;
    text-decoration: underline;
    color: $pink;
    font-weight: 400;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-top: 30px;
  }
}

.advantages__item--time::before {
  @media (min-width: $tablet-width) {
    content: "";
    z-index: 1;
    position: absolute;
    background-image: url(../img/icon-timer.svg);
    background-size: 235px auto;
    background-repeat: no-repeat;
    width: 238px;
    height: 276px;
    right: 60%;
    bottom: -30px;
  }

  @media (min-width: $desktop-width) {
    top: -100px;
    width: 298px;
    height: 345px;
    background-size: 292px auto;
  }

}

.advantages__item--time::after {
  @media (min-width: $tablet-width) {
    content: "24";
    position: absolute;
    z-index: 1;
    right: 63%;
    top: 101px;


    font-size: 96px;
    line-height: 149px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    color: #d22856;

    width: 160px;
    height: 160px;

    border: 16px solid #d22856;
    border-radius: 50%;
  }

  @media (min-width: $desktop-width) {
    top: -36px;
    right: 62%;

    font-size: 120px;
    line-height: 186px;

    width: 220px;
    height: 220px;


    border: 18px solid #d22856;
  }
}

.advantages__item--friends {
  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    padding-bottom: 0;
  }
}

.advantages__item--smile::before {
  @media (min-width: $desktop-width) {
    content: "";
    display: block;
    background-image: url(../img/iphone-screen-1-desktop@2x.png);
    background-size: 292px auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 186px;
    height: 310px;
    margin: 0 auto 60px;
  }
}

.advantages__item--world::before {
  @media (min-width: $desktop-width) {
    content: "";
    display: block;
    background-image: url(../img/iphone-screen-2-desktop@1x.png);
    background-size: 292px auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 186px;
    height: 310px;
    margin: 0 auto 60px;
  }
}

.advantages__item--friends::before {
  @media (min-width: $desktop-width) {
    content: "";
    display: block;
    background-image: url(../img/iphone-screen-3-desktop@1x.png);
    background-size: 292px auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 186px;
    height: 310px;
    margin: 0 auto 60px;
  }
}
