body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  color: $black;
  background-color: $white;
  line-height: 18px;
  font-weight: 400;
}

$tablet-width: 700px;
$tablet-max-width: 1199px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  appearance: number-input;
}
